.menubar-area{position: fixed; left: 0; top: 64px; display: flex; flex-direction: column; padding: 8px 0px; height: 100vh;}
.menu-btn{padding: 20px; color: #a5a5a5;}
.menu-btn:hover{background-color: #c0c0c0;}
.menu-btn i{display: block; margin: auto; font-size: 16px;}